.footer {
  color: $color--primary;

  &--box {
    @include desktop-sm {
      @include wrapper;
      padding-top: 4rem;
      padding-bottom: 4rem;
      display: flex;
      justify-content: space-between;
    }
  }

  @include desktop-sm {
    background-color: $color--primary--dark;
  }

  &__info {
    @include padding-Y;
    background-color: $color--primary--med;
    text-align: center;

    @include desktop-sm {
      background-color: $color--primary--dark;
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0;
      text-align: left;
      width: 47%;
    }

    &--box {
      @include desktop-sm {
        display: inline-block;
      }
    }

    &--box:not(:last-child) {
      padding-bottom: 2rem;
      @include desktop-sm {
        padding-bottom: 0;
      }
    }

    &--header {
      padding-bottom: 1.6rem;
      margin: 0;
    }

    &--ul {
      list-style: none;
      margin: 0;
      padding: 0;
      @include desktop-sm {
        display: inline-block;
      }
    }

    &--li {
      display: inline-block;
      position: relative;
      font-size: 1.2rem;
      padding: 0 0.8rem;
      @include desktop-sm {
        display: block;
        padding: 0.6rem 0;
      }

      &:not(:last-child)::after {
        content: "|";
        position: absolute;
        right: -2px;
        @include desktop-sm {
          content: none;
        }
      }
    }

    &--link,
    &--link:visited,
    &--link:link,
    &--link:visited {
      color: $color--white !important;
      text-decoration: none;
    }
  }
  &__newsletter {
    @include wrapper;
    @include padding-Y;

    background-color: $color--primary--dark;
    text-align: center;
    @include desktop-sm {
      width: 47%;
      padding: 0;
      margin: 0;
      text-align: justify;
    }

    &--header {
      margin: 0;
    }
    &--sub {
      color: $color--white;
    }
    &--email {
      width: 70%;
      height: 4.5rem;
      float: left;
      margin-right: auto;
    }
    &--btn {
      float: right;
      background-color: $color--primary--light;
      color: $color--primary--med;
      font-size: 1.2rem;
      padding: 1.6rem 0 1.5rem;
      width: 28%;
    }
  }
}
