.footer {
  color: $color--primary;
  &__info {
    @include wrapper;
    background-color: $color--primary--med;
    text-align: center;
    &--header {
      padding: 3.5rem 0 2rem;
      margin: 0;
    }
    &--ul {
      list-style: none;
      margin: 0;
      padding: 0;
      &:last-child {
        padding-bottom: 3.5rem;
      }
    }
    &--li {
      display: inline-block;
      position: relative;
      font-size: 1.2rem;
      padding: 0 1rem;
      &:not(:last-child)::after {
        content: "|";
        position: absolute;
        right: -2px;
      }
    }
    &--link,
    &--link:visited,
    &--link:link,
    &--link:visited {
      color: $color--white !important;
      text-decoration: none;
    }
  }
  &__newsletter {
    @include wrapper;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    background-color: $color--primary--dark;
    text-align: center;
    &--header {
      margin: 0;
    }
    &--sub {
      color: $color--white;
    }
    &--email {
      width: 70%;
      height: 4.5rem;
      float: left;
      margin-right: auto;
    }
    &--btn {
      float: right;
      background-color: $color--primary--light;
      color: $color--primary--med;
      font-size: 1.2rem;
      padding: 1.6rem 0 1.5rem;
      width: 28%;
    }
  }
}
