.products {
  @include wrapper;
  text-align: center;
  padding-bottom: 3.5rem;
  @include desktop-sm {
    padding-bottom: 4rem;
  }
  &--title {
    @include padding-Y;
    margin: 0;
  }
  &--sub {
    text-align: justify;
    margin: 0;

    @include tab-port {
      text-align: center;
    }
  }
  &__list {
    @include title-spacing;
    margin: 0;
    list-style: none;
    @include tab-port {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &--div {
      position: relative;
    }
    &--item {
      border: 1px solid rgba($color--primary, 0.3);
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
      @include tab-port {
        width: 47%;
        &:last-child {
          margin-bottom: 2rem;
        }
      }
      @include desktop-sm {
        width: 32%;
      }
    }
    &--img {
      width: 100%;
    }
    &--text {
      @include wrapper;
      text-align: left;
    }
    &--price {
      position: absolute;
      top: 0;
      right: -6px;
      background-color: $color--secondary;
      padding: 0.4rem 1.4rem;
    }
  }
}
