.btn {
  padding: 1.4rem 6.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  &--danger {
    background-color: $color--secondary;
    color: $color--white;
  }
  &--dark {
    background-color: $color--primary--dark;
    color: $color--white;
  }
  &--contact {
    width: 100%;
    @include desktop-sm {
      float: left;
      width: initial;
    }
  }
}
