.promo {
  //   display: flex;
  //   justify-content: space-between;
  //   border: 1px solid orangered;
  &__box {
    display: none;
    &--main {
      text-align: center;
      display: inline-block !important;
      background-color: $color--primary--dark;
      width: 100%;
    }
  }
  &--heading {
    margin: 1.2rem 0 0;
  }
  &--sub {
    margin: 0 0 1.2rem;
    color: $color--primary;
  }
}
