.slick {
  width: 100%;
  &--img {
    width: 100%;
  }
  &__arrow {
    background: transparent url("assets/icons/arrow.svg") no-repeat center;
    background-size: cover;
    border: none;
    height: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &--next {
      right: 1rem;
    }

    &--prev {
      z-index: 2000;
      left: 1rem;
      transform: translateY(-50%) rotate(180deg); // Turns the arrow to prev direction
    }
  }
}
